/*Snippet to reset CSS code*/
* {
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

/*Adjust to size of screen and set width of middle box/text column*/
#box{
	height: 100%;
	max-width: 1000px;
	margin: auto;
}

/*Attribute to change text when mouse hovers over*/
a:hover {
	color: #f9e71d;
	text-decoration: none;
}

/*Remove underlining from links for better look*/
a{
    text-decoration: none;
}

h1{
	padding: 8px;
	border-radius: 5px;
	background-color: #106d13;
	letter-spacing: 4px;
	color: #f7f7f7;
	font-size: 100px;
	font-weight: bold;
	text-align: center;
	text-shadow: 4px 4px #2e2d30;
}

h2{
	font-variant: small-caps;
	letter-spacing: 1px;
	font-size: 30px;
	color: #39CCCC;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-decoration: underline;

}

h3{
	font-variant: small-caps;
	text-decoration: underline;
	font-weight: bold;
}

body{
	padding-top: 0px;
	font-family: 'Palanquin Dark';
	font-size: 16px;
	background-image: url("media/background.png");
	background-attachment: fixed;
	background-size: cover;
}	

nav{
	background-color: #6bf472;
	padding: 3px;
	letter-spacing: 1px;
	color: #6c2c77;
	font-size: 15px;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	border-radius: 5px;
}

main{
	background-color: #fafafa;
	padding: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 5px;
    background: rgba(250, 250, 250, 0.5)
}

footer{
	background-color: #6bf472;
	border-radius: 5px;
	padding: 3px;
	letter-spacing: 1px;
	color: #ffffff;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Set images to display only to full size of main */
img{
	max-width: 100%;
	height: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

hr{
   border: 0; 
   height: 2px; 
   background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
   background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
   background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
   background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: blue; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
	font-variant: small-caps;
	font-weight: bold;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

figcaption{
	font-size: 12px;
	font-style: italic;
}

#map {
   max-width: 100%;
   height: 350px;
   width: 500px;
   background-color: grey;
 }

